
body{

 background-image: url("imgreg1.jpg")
}

h1{

  text-align: center;

}

form{
  position: absolute;
  top: 20%;
  left: 40%;
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 600px;
  box-shadow: 0 0 1em rgb(151, 27, 27);

}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin:0;
}


