
th {
    background-color:pink;
    padding: 35px;
    border-bottom: 10px solid rgb(139, 0, 35);
    color:blue;
    font-size: 1.5em;
    
}
cir{
    border-style: dashed;
}



.withBorder{
	
	outline-style: solid;
	outline-color: black;
	outline-width: 50 px;
	
	
}

h1{
    background-color:#3c384b;
    color:yellow;
   
}

p {
    background-color: rgb(49, 0, 128);
      color:yellow;
     
      max-width: 900px;
      border-style: dashed;
      padding: 35px;

      margin-right: 10px;
}
.tabl{
    background-color: rgb(91, 96, 99);
      color:yellow;
      max-width: 400px;
      padding: 15px;
  

}
#or{
    background-color:rgb(255, 0, 0);
    max-width: 900px;
    border-bottom: 10px solid rgb(28, 139, 0);
    color:white;
    border-style: dotted;
    padding-left: 800;
    font-size: 1.5em;

}

