<html>
<head>
  <link rel="stylesheet" href="styleCss.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>





    <div ng-app="" ng-init= "names=['ben','or','tal']">
      <table border="1" width="200px" height="200px">
        <tr>
          <td ng-repeat="x in names">
            {{x}}

          </td>
          </tr>
          <tr>
              <td ng-repeat="y in names">
                  {{y}}
      
                </td>
              </tr>
     
              <tr>
                  <td ng-repeat="z in names">
                      {{z}}
          
                    </td>
                  </tr>
             
       
     
      </table>
      
 
    </div>
     
  
    
  
<script type="text/javascript" src="javaScriptFile.js"> </script>
</body>

</html>
