<html>
<head>
  <link rel="stylesheet" href="styleCss.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>





    <div ng-app="" ng-init= "mycol=''; myback=''; mytxt='' ">
      
      <input  ng-model="mycol" placeholder="background">
      <input  ng-model="myback" placeholder="text-color">
      <input  ng-model="mytxt" placeholder="textsize">

      <label style="background-color:{{mycol}} ; color:{{myback}} ; font-size:{{mytxt}}" ">Svcollege</label>
     
   
    </div>
    
  




<script type="text/javascript" src="javaScriptFile.js"> </script>
</body>

</html>
